<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="utf-8">
	<title>Hockey Sheet</title>
<!-- 	<script type="text/javascript" defer src="index.js" charset="utf-8"></script> -->
 	<script src="https://www.moneybutton.com/moneybutton.js"></script> 
<!--	<script src="/node_modules/@mysql/xdevapi/lib/index.js"> </script> -->

	<!-- <link rel="stylesheet" type="text/css" href="css\style.css"> -->
</head>

<body>
	
	<button type="button" id="query-button" onclick="populatePlayers()">Populate Players</button>
	<button type="button" id="collect-player-data-button" onclick="calculateScore()">Collect Player Data</button>
	
    <div id="web-query-content">
        Content:
    </div>

<div id="my-money-button"></div>
</body>
</html>